<!DOCTYPE html>
<htmL lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Paint</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <header>
        {{ title }}
      </header>
      <section class="operations">
        <button class="main-button">
          <i class="fa fa-file"></i> New
        </button>
        <button class="main-button">
          <i class='fas fa-folder-open'></i> Open
        </button>
        <button class="main-button">
          <i class="fa fa-save" ></i> Save
        </button>
        <button class="main-button">
          <i class="fas fa-trash"></i> Clear 
        </button>
      </section>
      <section class="tools">
        <button class="main-button">
          <i class="fa fa-undo" style="color:white"></i> Undo
        </button>
        <button class="main-button">
          <i class="fas fa-redo"></i> Redo
        </button>
        <button class="main-button">
          <i class="fas fa-arrows-alt" (click)="moveButton()"> Move</i>
        </button>
        <button class="main-button" (click)="resizeButton()">
          <i class="fas fa-expand"></i> Resize
        </button>
        <button class="main-button" (click)="copyButton()">
          <i class="fas fa-copy"></i> Copy
        </button>
        <button class="main-button">
          <i class="fas fa-paste"></i> Paste
        </button>
        <button class="main-button">
          <span style="font-size: 20px;">&#9998;</span> Pen
        </button>
        <button class="main-button" (click)="removeButton()">
          <i class="fa fa-remove"></i> Remove
        </button>
        <button class="main-button" [(colorPicker)]="color">
          <i class="fas fa-paint-brush"></i> Fill
        </button>
        <button class="main-button" [(colorPicker)]="color">
          <i class="fas fa-eye-dropper"></i> Outline
        </button>
        <button class="main-button">
          Style <i class="fas fa-angle-down"></i>
        </button>
      </section>
      <aside>
          <button class="icon" class="main-button greater" (click)="drawButton('circle')"><i class="fas fa-circle"></i></button>
          <button class="icon" class="main-button greater" (click)="drawButton('rectangle')"><i class="fas fa-square"></i></button>
          <button class="icon" class="main-button greater" (click)="drawButton('triangle')">&#9650;</button>
          <button class="icon" class="main-button greater" (click)="drawButton('ellipse')">&#11052;</button>
          <button class="icon" class="main-button greater" (click)="drawButton('line')">&#8260;</button>
      </aside>
      <div class="board">
        <svg #svg width="1000" 
          height="600"  
          (mousedown)="onMouseDown($event)"  
          (mouseup)="onMouseUp($event)" 
          (mousemove)="onMouseMove($event)" >
        </svg>
      </div>
      <footer></footer>
    </div>
  </body>
</htmL>