<!DOCTYPE html>
<htmL lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Paint</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <header>
        Document Name
      </header>
      <section class="operations">
        <button class="main-button">
          <i class="fa fa-file"></i> New
        </button>
        <button class="main-button">
          <i class='fas fa-folder-open'></i> Open
        </button>
        <button class="main-button">
          <i class="fa fa-save" ></i> Save
        </button>
        <button class="main-button">
          <i class="fa fa-remove"></i> Delete
        </button>
      </section>
      <section class="tools">
        <button class="main-button">
          <i class="fa fa-undo" style="color:white"></i> Undo
        </button>
        <button class="main-button">
          <i class="fas fa-redo"></i> Redo
        </button>
        <button class="main-button">
          <i class="fas fa-arrows-alt"> Move</i>
        </button>
        <button class="main-button">
          <i class="fas fa-copy"></i> Copy
        </button>
        <button class="main-button">
          <i class="fas fa-paste"></i> Paste
        </button>
        <button class="main-button">
          <i class="fas fa-cut"></i> Cut
        </button>
        <button class="main-button">
          <i class="fas fa-expand"></i> Resize
        </button>
        <button class="main-button">
          <i class="fas fa-eye-dropper"></i> Drop
        </button>
        <button class="main-button">
          <i class="fas fa-mouse-pointer"></i> Cursor
        </button>
        <button class="main-button">
          <i class="fas fa-trash"></i> Remove 
        </button>
      </section>
      <aside>
        <div class="part">
          <div class="sector">Shapes</div>
          <button class="icon"><i class="fas fa-circle"></i></button>
          <button class="icon"><i class="fas fa-square"></i></button>
          <button class="icon"><i class="fas fa-star"></i></button>
          <button class="icon"><i class="fas fa-heart"></i></button>
          <button class="icon"><i class="fas fa-arrow-up"></i></button>
          <button class="icon"><i class="fas fa-arrow-right"></i></button>
          <button class="icon"><i class="fas fa-arrow-down"></i></button>
          <button class="icon"><i class="fas fa-arrow-up"></i></button>
          <button class="icon"><i class="far fa-window-minimize"></i></button>
          <button class="icon"><i class="fas fa-comment"></i></button>
        </div>
        <div class="part">
          <div class="sector"><i class="fas fa-palette"></i>Colors</div>
          <button class="color" style="background-color: #a2b9bc"></button>
          <button class="color" style="background-color: #b2ad7f"></button>
          <button class="color" style="background-color: #878f99"></button>
          <button class="color" style="background-color: #6b5b95"></button>

          <button class="color" style="background-color: #feb236"></button>
          <button class="color" style="background-color: #d64161"></button>
          <button class="color" style="background-color: #ff7b25"></button>

          <button class="color" style="background-color: #d6cbd3"></button>
          <button class="color" style="background-color: #eca1a6"></button>
          <button class="color" style="background-color: #bdcebe"></button>
          <button class="color" style="background-color: #ada397"></button>

          <button class="color" style="background-color: #d5e1df"></button>
          <button class="color" style="background-color: #e3eaa7"></button>
          <button class="color" style="background-color: #b5e7a0"></button>
          <button class="color" style="background-color: #86af49"></button>

          <button class="color" style="background-color: #b9936c"></button>
          <button class="color" style="background-color: #dac292"></button>
          <button class="color" style="background-color: #e6e2d3"></button>
          <button class="color" style="background-color: #c4b7a6"></button>

          <button class="color" style="background-color: #3e4444"></button>
          <button class="color" style="background-color: #82b74b"></button>
          <button class="color" style="background-color: #405d27"></button>
          <button class="color" style="background-color: #c1946a"></button>

          <button class="color" style="background-color: #92a8d1"></button>
          <button class="color" style="background-color: #034f84"></button>
          <button class="color" style="background-color: #f7cac9"></button>
          <button class="color" style="background-color: #f7786b"></button>

          <button class="color" style="background-color: #c94c4c"></button>
          <button class="color" style="background-color: #ffef96"></button>
          <button class="color" style="background-color:  #4040a1"></button>
          <button class="color" style="background-color: #7e4a35"></button>
        </div>
      </aside>
      <div class="board"></div>
    </div>
  </body>
</htmL>